{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'books/css/addBooks.css' %}">
<script src="{% static 'books/js/addBooks.js' %}" defer></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
    <body>
        <main>
            <h1>Add A Book To The Database</h1>
            <p>Enter some information abou the book you want to add to the database.</p>
            <!--Gonna need to make some AJAX requests via JS to verify some of inputs into the fields below are valid-->
            <div name = 'title'>
                <form method="GET">
                    <input type="text" class="search-box" placeholder=" Full Title" name="full_title" id = 'full_title' pattern=".*\S.*" contenteditable="true" required>
                </form>
            </div>
            <div name = 'isbn'>
                <form action="" method="POST">
                    <input type="text" class="search-box" placeholder="ISBN" name="isbn" id = 'isbn' pattern=".*\S.*" contenteditable="true" required>
                </form>
            </div>
            <div name = authors>
                <form >    
                    <input type="text" class="search-box" placeholder="Authors" name="authors" id="authors" pattern=".*\S.*" required>
                </form>
            </div>
            <div name = 'publicationYear'>
                <form>
                    <input type="text" class="search-box" placeholder="Year Of Publication" name="publication_year" id = "publication_year" pattern=".*\S.*" required>
                </form>
            </div>
            <div name = 'url'>
                <form>
                    <input type="text" class="search-box" placeholder="URL For Image" name="url" id="url" pattern=".*\S.*" required>
                </form>
            </div>
            <div name = ' languageCode'>
                <form>
                    <input type="text" class="search-box" placeholder="Language Code(Use 'eng' for english)" name="lang_code" id="lang_code" pattern=".*\S.*" required>
                </form>
            </div>
            <button onclick="validateInputs(event)">Validate Inputs</button>
            <form onsubmit = "addRecord(event)">
                {% csrf_token %}
                <button class="submit-button" type="submit" id="submit_button" disabled>Add Book</button>
            </form>
       </main>
    </body>
</html>















