{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'books/css/home.css' %}">
<script src="{% static 'books/js/home.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <main>
            <h1>Books - A Collection</h1>
            <div class="container">
                <form action="" method="POST" onsubmit="submitQuery(event)">
                    {% csrf_token %}
                    <input type="text" class="search-box" placeholder="Search by title..." name="search" pattern=".*\S.*" required>
                    <button class="search-button" type="submit" name="searchString">Search</button>
                </form>
            </div>
            <div class = 'crud_container'>
                <button class="crud_button" onclick="window.location.href='/books/add-book/'"> {% csrf_token %} Add Book To Collection</button>
                <button class="crud_button" onclick="window.location.href='/books/advanced-search'">Advanced Searched</button>
                <button class="crud_button" onclick="window.location.href='/books/bulkAdd'">Upload via JSON</button>
                <button class="crud_button" onclick="window.location.href='/books/lookAtList'">View To Read List</button>
            </div>
            <div class="activity-box">
                <div class="activity-title">Recent Activity</div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
                <div class="activity-row"></div>
            </div>
        </main>
    </body>
</html>